@{
    ViewData["Title"] = "Telenanu";
}

<link rel="stylesheet" href="~/css/index.css">

<body>
    <br />    <br />    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid img-traducible" 
                src="@Url.Content("~/img/dialogos/dialogo_1.png")" 
                data-es="@Url.Content("~/img/dialogos/dialogo_1.png")" 
                data-qu="@Url.Content("~/img/dialogos/dialogo_1_qu.png")"
                style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
            </div>
            <br>
            <div class="col-md-5">
                <img src="~/img/graficos/lateral_1.png" class="img-fluid">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-5">
                <img src="~/img/graficos/lateral_2.png" class="img-fluid">
            </div>
            <div class="col-md-7">
                <img class="img-fluid img-traducible" 
                src="@Url.Content("~/img/dialogos/dialogo_2.png")" 
                data-es="@Url.Content("~/img/dialogos/dialogo_2.png")" 
                data-qu="@Url.Content("~/img/dialogos/dialogo_2_qu.png")"
                style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
            </div>
            <br>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid img-traducible" 
                src="@Url.Content("~/img/dialogos/dialogo_3.png")" 
                data-es="@Url.Content("~/img/dialogos/dialogo_3.png")" 
                data-qu="@Url.Content("~/img/dialogos/dialogo_3_qu.png")"
                style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
            </div>
            <br>
            <div class="col-md-5">
                <img src="~/img/graficos/lateral_3.png" class="img-fluid">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-5">
                <img src="~/img/graficos/lateral_4.png" class="img-fluid">
            </div>
            <div class="col-md-7">
                <img class="img-fluid img-traducible" 
                src="@Url.Content("~/img/dialogos/dialogo_4.png")" 
                data-es="@Url.Content("~/img/dialogos/dialogo_4.png")" 
                data-qu="@Url.Content("~/img/dialogos/dialogo_4_qu.png")"
                style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
            </div>
            <br>
        </div>
        <br><br><br>
        <div class="row text-center">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <img class="img-fluid img-traducible" 
                src="@Url.Content("~/img/logos/titulo_historia.png")" 
                data-es="@Url.Content("~/img/logos/titulo_historia.png")" 
                data-qu="@Url.Content("~/img/logos/titulo_historia_qu.png")"
                style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <iframe width="100%" height="375" src="https://www.youtube.com/embed/AaUOagpyH-g" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br><br>
    </div>

    <script src="~/js/idioma.js"></script>

</body>